<html>
    <head>
	<title>MaximoPlus Polymer responsive layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	<!--script type="text/javascript" src="cordova.js"></script-->
	<script src="../bower_components/maximoplus-core/main.js"></script>
	<script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="../bower_components/polymer/polymer.html">
	<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
	<link rel="import" 
              href="../bower_components/paper-header-panel/paper-header-panel.html">
	<link rel="import" 
              href="../bower_components/paper-toolbar/paper-toolbar.html">
	<link rel="import" 
              href="../bower_components/iron-flex-layout/iron-flex-layout.html">
	<link rel="import" 
              href="../bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" 
              href="../bower_components/paper-menu-button/paper-menu-button.html">
	<link rel="import" 
              href="../bower_components/paper-menu/paper-menu.html">
	<link rel="import" 
              href="../bower_components/paper-item/paper-item.html">
	<link rel="import"
	      href="../bower_components/paper-tabs/paper-tabs.html">
	<link rel="import"
	      href="../bower_components/paper-toast/paper-toast.html">
	<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
	<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
	<style is="custom-style" include="iron-flex iron-flex-alignment"></style>
	<link rel="import" href="../bower_components/maximoplus-polymer-template/src/max-login-dialog.html">
	<link rel="import" href="../bower_components/maximoplus-polymer-template/src/max-wait-spinner.html">
	<link rel="import" href="../bower_components/maximoplus-polymer-template/src/max-error-message.html">
	<link rel="import" href="../bower_components/app-route/app-route.html">
	<link rel="import" href="../bower_components/app-route/app-location.html">
	<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
	<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">
	<link rel="import" href="../bower_components/neon-animation/animations/slide-from-left-animation.html">
	<link rel="import" href="../bower_components/neon-animation/animations/slide-right-animation.html">
	<style>
	  neon-animated-pages .iron-selected:not(.neon-animating) { position: relative;height:100% }
	  neon-animated-pages {position:absolute;height:100%;width:100%}
	  neon-animated-pages max-list {position:absolute;height:100%;width:100%}
	  neon-animated-pages max-list iron-scroll-threshold {height:100%}
	</style>
    </head>

    <body class="fullbleed vertical layout">
	<template is="dom-bind" id="apptemplate">
	    <app-location route="{{route}}" use-hash-as-path></app-location>
	    <app-route route="{{route}}" pattern="/tabs/:tabName" data="{{data}}">
	    </app-route>
	    <max-login-dialog></max-login-dialog>
	    <max-wait-spinner></max-wait-spinner>
	    <max-error-message></max-error-message>
	    <paper-header-panel class="flex">
		<paper-toolbar class="medium-tall">
		    <!--
			 <paper-icon-button id="navicon"
			 icon="menu"></paper-icon-button>
		       -->
		    <!-- flex class forces span to fill space between icons -->
		    <span class="flex">Polymer Template</span>
		    <!-- icon displays at right because of span class above -->
		    <paper-menu-button>
			<paper-icon-button id="morebutton"
					   icon="menu" class="dropdown-trigger"></paper-icon-button>
			<paper-menu class="dropdown-content">
			    <paper-item>Action 1</paper-item>
			    <paper-item>Action 2</paper-item>
			</paper-menu>
		    </paper-menu-button>
		    <paper-tabs selected='{{data.tabName}}' attr-for-selected='key' class="bottom fit">
			<paper-tab key="search">Search</paper-tab>
			<paper-tab key="list">List</paper-tab>
			<paper-tab key="main">Main</paper-tab>
		    </paper-tabs>
		</paper-toolbar>
		<!--
		     For slower devices use iron-pages instead of neon-animated-pages:
		     
		     <iron-pages selected='{{data.tabName}}' attr-for-selected='key'>
		     <div key="search">page1</div>
		     <div key="list">page2</div>
		     <div key="main">page3</div>
		     </iron-pages>
		   -->

		<neon-animated-pages selected='{{data.tabName}}' attr-for-selected='key' entry-animation='slide-from-left-animation' exit-animation='slide-right-animation'>
		    <div key="search">page1</div>
		    <div key="list">page2</div>
		    <div key="main">page3</div>
		</neon-animated-pages>
	    </paper-header-panel>
	</template>
	<template id="valuelist">
	    <div>{{data.VALUE}} {{data.DESCRIPTION}}</div>
	</template>
	<template id="qbevaluelist">
	    <div>
		<paper-checkbox checked=[[data._CHECKED]]></paper-checkbox> {{data.VALUE}} {{data.DESCRIPTION}}
		
	    </div>
	</template>

	<script>
	 maximoplus.net.globalFunctions.serverRoot = function(){
	     return "http://localhost:8080";
	 }
	 
	 window.addEventListener('WebComponentsReady', function(e) {
	     //navigation is done with routing, so the child elements don't need to know the structure of the page, it can be changed freely
	     window.location="#/tabs/main";
	 });
	</script>
    </body>
</html>
