<dom-module id="max-toolbar">
    <template>
	<paper-toolbar class="medium-tall">
	    <!--
		 <paper-icon-button id="navicon"
		 icon="menu"></paper-icon-button>
	       -->
	    <!-- flex class forces span to fill space between icons -->
	    <span class="flex">Polymer Template</span>
	    <!-- icon displays at right because of span class above -->
	    <paper-menu-button>
		<paper-icon-button id="morebutton"
				   icon="menu" class="dropdown-trigger"></paper-icon-button>
		<paper-menu class="dropdown-content">
		    <template is="dom-repeat" items="[[actions]]">
			<paper-item>[[item.label]]</paper-item>
		    </template>
		</paper-menu>
	    </paper-menu-button>
	    <paper-tabs selected='{{data.tabName}}' attr-for-selected='key' class="bottom fit">
		<template is="dom-repeat" items="tabs">
		    <paper-tab key="[[item.key]]">[[item.label]]</paper-tab>
		</template>
	    </paper-tabs>
	</paper-toolbar>
	<script>
	 Polymer({
	     is:'max-toolbar',
	     properties:{
		 actions:Array,
		 tabs:Array,
		 data:Object
	     }
	 });
	</script>
    </template>
</dom-module>
